aiohttp==3.8.4
aiosignal==1.3.1
alembic
autopep8==2.0.4
Flask
flask-marshmallow
Flask-Migrate
flask-smorest
Flask-SQLAlchemy
gunicorn
itsdangerous
jsonschema
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
python-dotenv
requests
shortuuid
SQLAlchemy
virtualenv
